name: "code quality"

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  code-ql:
    name: analyze
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        language: ["python"]

    steps:
      - name: checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 2

      - name: initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: ${{ matrix.language }}

      - name: autobuild
        uses: github/codeql-action/autobuild@v3

      - name: perform CodeQL analysis
        uses: github/codeql-action/analyze@v3

  format:
    name: format
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
      - name: checkout repository
        uses: actions/checkout@v5

      - name: sort python imports with isort
        uses: olance/isort-action@v1.1.0
        with:
          args: .

      - name: commit changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A && git diff-index --cached --quiet HEAD || git commit -m 'automatic import sort'

      - name: push changes
        uses: ad-m/github-push-action@v0.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
